In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"D:\\fsdsmendtoendzomato\\notebooks\\data\\zomato.csv")

In [3]:
df.head(2)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari

In [4]:
df.shape

(51717, 17)

In [5]:
# fetching the count of the null values
df.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [6]:
# dropping the columns that are not important
df=df.drop(['url', 'address','dish_liked','reviews_list','listed_in(city)','phone','name', 'menu_item'], axis=1)

In [7]:
import numpy as np

In [8]:
def handlerate(value):
    if(value=="NEW" or value=="-"):
        return np.nan #replacing new and - with null value
    else:
        value=str(value).split("/")
        value=value[0]
        return float(value)#2.2/5 will be return
df["rate"]=df["rate"].apply(handlerate)
df["rate"].head()

0    4.1
1    4.1
2    3.8
3    3.7
4    3.8
Name: rate, dtype: float64

In [9]:
categorical_columns=df.columns[df.dtypes=="object"]

In [10]:
numerical_columns=df.columns[df.dtypes!="object"]

In [11]:
df[categorical_columns].describe()

,online_order,book_table,location,rest_type,cuisines,approx_cost(for two people),listed_in(type)
count,51717,51717,51696,51490,51672,51371,51717
unique,2,2,93,93,2723,70,7
top,Yes,No,BTM,Quick Bites,North Indian,300,Delivery
freq,30444,45268,5124,19132,2913,7576,25942

In [12]:
#df[categorical_columns]

In [13]:
df[categorical_columns]["online_order"].value_counts()

online_order
Yes    30444
No     21273
Name: count, dtype: int64

In [14]:
df[categorical_columns]["book_table"].value_counts()

book_table
No     45268
Yes     6449
Name: count, dtype: int64

In [15]:
df[categorical_columns]["location"].value_counts()

location
BTM                      5124
HSR                      2523
Koramangala 5th Block    2504
JP Nagar                 2235
Whitefield               2144
                         ...
West Bangalore              6
Yelahanka                   6
Jakkur                      3
Rajarajeshwari Nagar        2
Peenya                      1
Name: count, Length: 93, dtype: int64

In [16]:
df[categorical_columns]["rest_type"].value_counts()

rest_type
Quick Bites                   19132
Casual Dining                 10330
Cafe                           3732
Delivery                       2604
Dessert Parlor                 2263
                              ...
Dessert Parlor, Kiosk             2
Food Court, Beverage Shop         2
Dessert Parlor, Food Court        2
Sweet Shop, Dessert Parlor        1
Quick Bites, Kiosk                1
Name: count, Length: 93, dtype: int64

In [17]:
df[categorical_columns]["cuisines"].value_counts()

cuisines
North Indian                                   2913
North Indian, Chinese                          2385
South Indian                                   1828
Biryani                                         918
Bakery, Desserts                                911
                                               ...
North Indian, Chinese, South Indian, Juices       1
North Indian, Chinese, Kebab, Mughlai             1
Chinese, Vietnamese, Thai, Malaysian              1
Arabian, Lebanese, Chinese, Rolls                 1
North Indian, Chinese, Arabian, Momos             1
Name: count, Length: 2723, dtype: int64

In [18]:
df[categorical_columns]["approx_cost(for two people)"].value_counts()

approx_cost(for two people)
300      7576
400      6562
500      4980
200      4857
600      3714
         ...
60          1
5,000       1
3,700       1
469         1
160         1
Name: count, Length: 70, dtype: int64

In [19]:
df[categorical_columns]["listed_in(type)"].value_counts()

listed_in(type)
Delivery              25942
Dine-out              17779
Desserts               3593
Cafes                  1723
Drinks & nightlife     1101
Buffet                  882
Pubs and bars           697
Name: count, dtype: int64

In [20]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder
le = LabelEncoder()

# List of columns you want to encode
columns_to_encode = ['online_order','book_table','location','rest_type','cuisines','approx_cost(for two people)','listed_in(type)']

# Loop through the columns and apply the LabelEncoder
for column in columns_to_encode:
    df[column] = le.fit_transform(df[column])

In [21]:
df.head(10)

,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),listed_in(type)
0,1,1,4.1,775,1,27,2159,66,0
1,1,0,4.1,787,1,27,952,66,0
2,1,0,3.8,918,1,22,766,66,0
3,0,0,3.7,88,1,78,2555,42,0
4,0,0,3.8,166,4,27,2188,60,0
5,1,0,3.8,286,4,27,1823,60,0
6,0,0,3.6,8,57,27,2210,66,0
7,1,1,4.6,2556,1,29,2324,60,1
8,1,0,4.0,324,1,19,742,63,1
9,1,0,4.2,504,1,19,767,56,1